.timebox{
    display: flex;
    justify-content: top;
    align-items: top;
}

.notification {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 20%;
    border: 2px rgb(0, 23, 128) solid;
}

.notif_msg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    border-radius: 50%;
    background-color: rgb(0, 128, 21);
    border: 2px solid rgb(0, 128, 21);
}
