@import url(../settings/default.css);

.timebox {
    font-size: 28px;
    color: var(--col1); 
    display: block;
    margin: 20px auto;
}

body {
    background: var(--background_color);
    color: var(--col1);
}

.notification {
    margin: 20px auto;
    padding: 20px;
    max-width: 600px;
    max-height: 300px; 
    background-color: var(--col5); 
    border: 1px solid var(--co4); 
    border-radius: 8px;
    font-family: Arial, sans-serif;
    color: var(--col1); 
    overflow-y: auto; 
    scrollbar-width: thin; 
    scrollbar-color: var(--col3) var(--col5); 
}

.notification::-webkit-scrollbar {
    width: 8px;
}

.notification::-webkit-scrollbar:hover {
    background-color: var(--col1); 
}

.notif_msg {
    margin: 10px 0;
    padding: 10px 15px;
    background-color: var(--col3); 
    border-left: 4px solid var(--col5); 
    border-radius: 5px;
    font-size: 18px;
    display: flex;
    align-items: center;
}


.button_del{
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: var(--col1); 
    color: var(--text_color); 
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

.button_del:hover {
    background-color: var(--col2); 
    transform: scale(1.1);
}

.button_clear {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: var(--col1); 
    color: var(--text_color); 
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

.button_clear:hover {
    background-color: var(--col2); 
    transform: scale(1.15);
}

.button_para {
    display: block;
    margin: 20px auto;
    padding: 10px 15px;
    background-color: var(--col1);
    color: var(--text_color); 
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

.button_para:hover {
    background-color: var(--col2);  
    transform: scale(1.15);
}