:root { 
    --red: #ff0000;
    --col1: #9F7E69;
    --col2: #D2BBA0;
    --col3: #E1DEB6;
    --col4: #F7FFE0;
    --col5: #FFEEE2;
    --background_color: #E1DEB6;
    --chatbox_header_bg: #D2BBA0;
    --chatbox_header_bg_gradiant: #f6ffe4;
    --text_color: #FFEEE2;
    --title_color: #FFEEE2;
    color: var(--text_color);
    background-color: var(--col3);
    border-color: black;
    font-family: Arial;
    font-size: 20px;
}