:root { 
    --red: #ff0000;
    --col1: #2C3E50;
    --col2: #34495E;
    --col3: #5D6D7E;
    --col4: #AEB6BF;
    --col5: #F8F9FA;
    --background_color: #F8F9FA;
    --chatbox_header_bg: #2C3E50;
    --chatbox_header_bg_gradiant: #AEB6BF;
    --text_color: #F8F9FA;
    --title_color: #34495E;
    color: var(--text_color);
    background-color: var(--col4);
    border-color: black;
    font-family: "Courier New", Courier, monospace;
    font-size: 18px;
}