@import url(../../settings/default.css);

body {
    background: var(--background_color);
    color: var(--col1);
}

.cadreNotif {
    width: 100%;
    height: 100%;
    background-color: var(--background_color);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: var(--text_color);
    scrollbar-width: thin;
}

.notif {
    margin: 10px 0;
    padding: 10px 15px;
    background-color: var(--col2);
    border-radius: 5px;
    font-size: 18px;
    display: flex;
    align-items: center;
    color: var(--text_color);
}

.button_del_notif {
    background-color: var(--col1);
    color: var(--text_color);
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: auto;
}

.button_del_notif:hover {
    background-color: var(--col3);
    transform: scale(1.1);
}