@import url(../settings/default.css);
/*
Faire que quand chatbox pleine : auto scroll up;
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    color: inherit;
}
body{
    background: var(--background_color);
}
.chatbot-toggler{ /*A MODIFIER: calquer sur les autres pages pour meme endroit glboal.*/
    position:fixed;
}
#chatbot_main_div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    min-height: 300px;
}
.chatbot {
    display: flex;
    flex-direction: column;
    width:90%;
    height: 90%;
    background: var(--col5);
    border-radius: 10px;
    box-shadow: 11px 7px 12px 1px rgba(95,0,0,0.55)
}
.chatbot header {
    background: linear-gradient(90deg,var(--chatbox_header_bg) 0%, var(--chatbox_header_bg_gradiant) 100%);
    padding: 4px 0;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
}
.chatbot header h2{
    font-size: 1.4rem;
}
.chatbot .chatbox{
    flex: 1;
    overflow: -moz-scrollbars-vertical; 
    overflow-y: scroll;
    padding: 15px 20px 70px;
}
.chatbox .chat {
    display: flex;
}
.chatbox .outgoing{
    margin: 20px 0;
    justify-content: flex-end;
}
.chatbox .chat p {
    padding: 12px 16px;
    max-width: 80%;
    border-radius: 10px 10px 0px 10px;
    font-size: 0.95rem;
    background-color: var(--col2);
}
.chatbox .incoming p{
    color: var(--col1);
    background: var(--col4);
    border-radius: 10px 10px 10px 0px;
}
.chatbox .incoming span {
    height: 32px;
    width: 32px;
    background-color: var(--col2);
    text-align: center;
    line-height: 32px;
    border-radius: 4px;
    margin: 0 10px 7px 0;
}
.chatbox .chat-option{
    display: block;
    float: right;
    margin-left: -50%;
    
}
.chatbot .chat-input{
    width:100%;
    height: fit-content;
    min-height: 20px;
    display:flex;
}
.chat-input textarea{
    width:100%;
    resize:none;
    border:none;
    outline:none;
}
.chat-input span{
    font-size: 1.35rem;
    cursor:pointer;
    visibility: hidden;
}
.chatbot .bottom{
    display:flex;
    width:100%;
    gap:5px;
    padding: 5px 0px;
}
.bottom .btn-grp {
    width: 100%;
    display: flex;
    justify-content: center;
    flex: 1;
    font-size: inherit;
}
.btn-grp button {
    margin: 3px;
    background-color: var(--col2);;
    border-radius: 5px;
    cursor: pointer;
    border:none;
    
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.chat-input textarea:valid ~ span {
    visibility:visible;
}
.goBackBtn{
    position: fixed;
    left: 40px; 
}
#send-btn, #msg {
    color: black;
}