

@import url(../settings/default.css);
#all_general_param_div {
  display: flex;
  justify-content: space-evenly;
}
#all_general_param_div > div {
  border: 7px var(--col1) solid;
  border-radius: 10px;
  padding: 1rem;
  background-color: var(--col4);
}

#exemple {
  border: 5px var(--col5) solid;
  border-radius: 15px;
  
  min-width: 500px;
  height: fit-content;
  min-height: 150px;
  
  background-color: var(--col2);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text_color);
}

h1, h2, h3, h4 {
  color: var(--col1);
  text-align: center;
}
#exemple_and_inputs {
  width: fit-content;
  text-align: center;
}
#update_size {
  display: flex;
  justify-content: center;
}
#update_size button {
  height: 40px;
  width: 60px;
  margin-inline: 5px;
  font-size: 70%;
}

#color_palette {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.color-palette-option {
  display: flex;
}
.palette-option {
  display: flex;
  margin-block: 5px;
  align-items: center;
}
.single-palette-color {
  height: 40px;
  width: 40px;
  border: 2px black solid;
  border-radius: 100%;
  margin-inline: 2px;
}
#font_family {
  text-align: center;
}
#font_family select {
  font-size: inherit;
  text-align: center;
}
#save {
  margin-block: 20px;
  background-color: var(--col5);
  color: var(--col1);
  padding: 0.5rem 1rem;
  font-size: 60%;
}

body {
  background-color: var(--col3);
  min-height: 100vh;
}

#sticked_info + h1 {
  color: var(--col5);
}
