@import url(../settings/root.css);

#exemple {
  border: 5px var(--col5) solid;
  border-radius: 15px;
  
  width: 40%;
  min-width: 250px;
  height: fit-content;
  min-height: 150px;
  
  background-color: var(--col2);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text_color);
}

h1, h2, h3, h4 {
  color: var(--col1);
}

#update_size {
  display: flex;
  justify-content: left;
}
#update_size button {
  height: 30px;
  width: 50px;
}

.color-palette-option {
  display: flex;
}
.palette-option {
  display: flex;
  margin-block: 5px;
  align-items: center;
}
.single-palette-color {
  height: 40px;
  width: 40px;
  border: 2px black solid;
  border-radius: 100%;
  margin-inline: 2px;
}

#font_family select {
  font-size: inherit;
  text-align: center;
}

.btn-grp button{
  border: none;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 40px;
}