@import url(../settings/root.css);

#exemple {
    border: 5px solid #999;
    border-radius: 15px;
    width: 20%
}
.btn-grp button{
  border: none;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 40px;
}